body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(143, 138, 221);
    border: 1px solid rgb(34, 40, 121);
    color: rgb(34, 40, 121);
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 68px;
    transition: all 0.2s;
  }
  .square:focus {
    outline: none;
  }
  .square:hover{
    color:rgb(143, 138, 221);
    background-color:rgb(34, 40, 121);
  }

  .circle {
    background: rgb(221, 150, 138);
    border: 1px solid rgb(121, 54, 34);
    color:  rgb(121, 54, 34);
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 68px;
    border-radius: 34px;
    transition: all 0.2s;
  }
  .circle:focus {
    outline: none;
  }
  .circle:hover{
    color:rgb(221, 150, 138);
    background-color: rgb(121, 54, 34);
  }

  .simple{
    background-color: rgb(88, 88, 88);
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    width: 68px;
    margin-right: -2px;
    margin-top: -2px;
    padding:0;
    border:1px solid #FFFFFF;
    border-radius:12px;
    text-decoration:none;
    color:#FFFFFF;
    transition: all 0.2s;
  }
  .simple:focus {
    outline: none;
  }
  .simple:hover{
    color:rgb(88, 88, 88);
    background-color:#FFFFFF;
  }

  .bouncy{
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    width: 68px;
    margin-right: -2px;
    margin-top: -2px;
    padding:0;
    border:1px solid #FFFFFF;
    border-radius:20px;
    text-decoration:none;
    color:rgb(39, 177, 108);
    background-color: rgb(9, 92, 50);
    animation:bouncy 5s infinite linear;
    position:relative;
  }
  .bouncy:focus {
    outline: none;
  }
  .bouncy:hover{
    color:rgb(9, 92, 50);
    background-color:rgb(39, 177, 108);
  }
  @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em}
  }

  .wave{
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    width: 68px;
    margin-right: -2px;
    margin-top: -2px;
    padding:0;
    border:1px solid rgba(255, 255, 255, 0.336);
    border-radius:5px;
    text-decoration:none;
    color:rgb(53, 39, 177);
    background-color: rgb(36, 128, 214);
    animation:wave 6s infinite linear;
    position:relative;
  }
  .wave:focus {
    outline: none;
  }
  .wave:hover{
    color:rgb(36, 128, 214);
    background-color:rgb(53, 39, 177);
  }
  @keyframes wave {
    0%{height:68px; width:68px}
    25%{height:73px; width:73px}
    50%{height:78px; width:78px}
    75%{height:73px; width:73px}
    100%{height:68px; width:68px}
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  @media all and (max-width:30em){
    square{
      display:block;
      margin:0.4em auto;
    }
    circle{
      display:block;
      margin:0.4em auto;
    }
    simple{
      display:block;
      margin:0.4em auto;
    }
    bouncy{
      display:block;
      margin:0.4em auto;
    }
    pulsing{
      display:block;
      margin:0.4em auto;
    }
  }
